type project
licenseUrl 
    https://github.com/opcon/gwen-nolegacy-opentk-renderer/blob/master/LICENSE.txt
projectUrl 
    https://github.com/opcon/gwen-nolegacy-opentk-renderer
tags 
    Gwen GUI OpenTK
copyright 
    Copyright 2016
dependencies
    OpenTK >= 2.0
    Gwen >= 4.0
