<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CreateNewNuGetPackageFromProjectAfterEachBuild" version="1.8.9" targetFramework="net40-client" developmentDependency="true" />
  <package id="OpenTK.Next" version="1.1.1616.8959" targetFramework="net40-client" />
  <package id="QuickFont.Desktop" version="4.0.6000.41401" targetFramework="net40-client" />
</packages>